.logo-main {
    img {
        width: 110px;
        height: 110px;
        align-items: center;
        justify-items: center;
    }
}

.post-topic {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    justify-content: center;
    display: grid;

    .home {
        height: 100vh;
        width: 66vw;
    
        display: grid;
        align-content: space-around;
        justify-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        
        
    }
}




